*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #333;
}



.navigation-mobile {
    background: #f1f1f1;
    position: fixed;
    bottom: 0;
    display: flex;
    width: 100%;
    height: 65px;
    justify-content: space-around;
}

.bloc-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bloc-icon img {
    width: 30px;
}

@media screen and (min-width: 500px){
    .navigation-mobile {
        display: none;
    }
}